
@using CodingEvents.ViewModels;

@model AddEventViewModel;

<h1>Add Event</h1>

<form method="post" asp-controller="Events" asp-action="Add">

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>

    <label asp-for="ContactEmail">Contact Email</label>
    <input asp-for="ContactEmail" />
    <span asp-validation-for="ContactEmail"></span>

    <input type="submit" value="Add Event" />

</form>

<div style="position: fixed; bottom: 60px; width: 100%;"><partial name="/Views/Shared/_LinkListPartial.cshtml" /></div>