@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Delete Events</h1>

@if (ViewBag.events.Count == 0)
{
    <p>There are no events yet.</p>
}
else
{

<form method="post">
    @foreach (var evt in ViewBag.Events)
    {
        <div class="form-group">
            <label>
                <span>@evt.Name</span>
                <input type="checkbox" name="eventsIds" value="@evt.Id" />
            </label>
        </div>
    }
    <input type="submit" name="Delete Selected Events" class="btn btn-danger" />
</form>
}