@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

<p>
    <a asp-controller="Events" asp-action="Delete">Delete Event</a>
</p>

@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
else
{
<table style="width:75%">
    <tr>
        <th>Event Description</th>
        <th>Event ID</th>
        <th>Event Name</th>
    </tr>
        @foreach (Event meeting in ViewBag.events)
        {<tr>
    <td>@meeting.Id</td>
    <td>@meeting.Name</td>
    <td>@meeting.Description</td>
</tr>
    }
    </table>

}

<div style="position: fixed; bottom: 60px; width: 100%;"><partial name="/Views/Shared/_LinkListPartial.cshtml" /></div>

